<div class="background-custom"></div>
<div class="px-5 pb-5">
    <div class="row mt-5 pt-2 pb-5">
        <h4 class="text-left pb-5 col-6 text-white">Puntos: {{ puntos }}</h4>
        <h4 class="text-right pb-5 col-6 text-white">Ronda {{ ronda }} de 5</h4>
        <h1 class="text-center pb-5 pt-5 col-12 text-white">{{ preguntas }}</h1>
        <div class="col-12 pt-5 pb-5"></div>
        <div class="col-6 px-4 py-1">
            <button class="btn btn-secondary w-100 py-4 text-white">
                {{ respuestas[0] }}
            </button>
        </div>
        <div class="col-6 px-4 py-1">
            <button class="btn btn-warning w-100 py-4 text-white">
                {{ respuestas[1] }}
            </button>
        </div>
        <div class="col-6 px-4 py-1">
            <button class="btn btn-danger w-100 py-4 text-white">
                {{ respuestas[2] }}
            </button>
        </div>
        <div class="col-6 px-4 py-1">
            <button class="btn btn-info w-100 py-4 text-white">
                {{ respuestas[3] }}
            </button>
        </div>
    </div>
</div>
<div class="col-12 pb-5">
    <h1 class="text-center text-white">
        <div class="custom-svg d-inline-block">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
            </svg>
        </div>
    </h1>
</div>